<%= form_tag "index", :id => "my_form" do -%>

  SiteLinks: <%= text_area_tag(:comment,"",size: "24x6") %>
  <%= submit_tag "Tara" %>
<% end -%>

<div class="container">
  <h2>Alt Link Tablosu</h2>
  <p>Aradiginiz site icin alt linkleri listeler</p>
  <table class="table" align="left">
    <thead>
      <tr>
        <th width="350px">Sublinks</th>
        <th width="200px">ExternalLinks</th>
        <th width="350px">Description</th>
        <th width= "350px">Title</th>
        <th width= "50px">Images</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td width ="400px">

          <% if(@internallinks) %>
          <% @internallinks.each do |int| %>
          <%= link_to  int %> <br />

          <% end %>
          <% end %>
          <!-- <% if(@page_links) %>
          <% @page_links.each do |wa| %>
            <%= link_to wa,wa %> <br />

              <% end -%>
            <% end -%></td> -->
          </td>
        <td width="200px">
          <% if(@externalLink) %>
          <% @externalLink.each do |ext| %>
          <%= link_to ext %> <br />
          <% end %>

          <% end %>

          <!-- <% if(@title) %>
          <% @title.each do |title| %>

            <%= link_to title %> <br />
              <% end -%>

            <% end -%> -->
        </td>

        <td  width="340px">
          <% if(@description) %>
          <%@description.each do |desc| %>
          <%= link_to desc %> <br  />
              <% end -%>
              <% end -%>


         </td>

        <td width="350px">

          <% if(@title) %>
          <%@title.each do |ttl| %>
          <%= link_to ttl %> <br  />
              <% end -%>
              <% end -%>



          </td>

          <td width="32px">
            <% if(@scrimage) %>
            <% @scrimage.each do |bt| %>
            <% bt.each do |bt2| %>

                <img src="<%=  bt2 %>" width="32" height="32"> <br />
                <% end -%>
                  <% end -%>

              <% end -%>

          </td>


      </tr>

    </tbody>
  </table>
</div>
