<%= form_tag "index", :id => "my_form" do -%>

  SiteLinks: <%= text_area_tag(:comment,"",size: "24x6") %>
  <%= submit_tag "Tara" %>
<% end -%>

<div class="container">
  <h2>Alt Link Tablosu</h2>
  <p>Aradiginiz site icin alt linkleri listeler</p>
  <table class="table" align="left">
    <thead>
      <tr>
        <th width="400px">Sublinks</th>
        <th width="300px">Title</th>
        <th width="300px">Description</th>
        <th width= "100px">Best Title</th>
        <th width= "100px">Image size</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td width ="400px">
          <% if(@page_links) %>
          <% @page_links.each do |wa| %>
              <% wa.each do |w| %>
              <%= link_to w,w %> <br />
              <% end -%>
              <% end -%>
            <% end -%></td>

        <td width="300px">
          <% if(@title) %>
          <% @title.each do |title| %>

              <%= link_to title %> <br />
              <% end -%>

            <% end -%>
        </td>

        <td  width="300px">
          <% if(@desc) %>
          <% @desc.each do |descr| %>

              <%= link_to descr %> <br />
              <% end -%>

            <% end -%>

         </td>

         <td>
           <%= @best_title %>
          </td>
          <td>
           </td>
      </tr>

    </tbody>
  </table>
</div>
